/* 공통 스타일 */

/*배너*/
.top-banner {
  background-color: black;
  color: white;
  font-size: 0.9rem;
  padding: 3px 15px;
  height: 50px;
  line-height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.language-select select {
  background-color: #000;
  color: white;
  border: 1px solid #555;
  padding: 4px 10px;
  font-size: 13px;
  border-radius: 4px;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="white" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  padding-right: 30px;
}

.language-select {
  position: absolute;
  right: 15px;
}


/*footer*/
.footer-dark {
  background-color: #000;
  color: #fff;
  font-size: 0.95rem;
}

.footer-dark a:hover {
  color: #0d6efd;
}

.footer-dark .text-secondary {
  color: #aaa !important;
}