/* 공통 스타일 */

/*배너*/
.top-banner {
  background-color: black;
  color: white;
  font-size: 0.9rem;
  padding: 3px 15px;
  height: 35px;
  line-height: 35px; /* 수직 정렬용 */
  position: relative;
}

.banner-text {
  display: inline-block;
}

.banner-link {
  color: white;
  text-decoration: underline;
}


/*footer*/
.footer-dark {
  background-color: #000;
  color: #fff;
  font-size: 0.95rem;
}

.footer-dark a:hover {
  color: #0d6efd;
}

.footer-dark .text-secondary {
  color: #aaa !important;
}


