<aside class="mypage-sidebar">
  <div class="sidebar-section">
    <h6>내 정보</h6>
    <ul>
      <li><a href="html/mypage.html" class="sidebar-link">내 프로필</a></li>
      <li><a href="html/address.html" class="sidebar-link">주소록 관리</a></li>
      <li><a href="html/pay.html" class="sidebar-link">내 결제수단</a></li>
    </ul>
  </div>
  <div class="sidebar-section">
    <h6>주문 목록</h6>
    <ul>
      <li><a href="html/order.html" class="sidebar-link">주문 내역</a></li>
      <li><a href="html/issues.html" class="sidebar-link">취소/반품/교환 내역</a></li>
    </ul>
</div>
  </div>
</aside>
